In [2]:
import pandas as pd
import numpy as np

In [8]:
df=pd.read_csv('postal_codes.csv')

Now, data is loaded. Next step, remove all values with non-assigned boroughs:

In [9]:
df.drop(df[df['Borough']=='Not assigned'].index, inplace=True)

  Postal Code           Borough               Neighbourhood
0         M1A      Not assigned                Not assigned
1         M2A      Not assigned                Not assigned
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [28]:
df[df['Neighbourhood']=='Not assigned'] 
# There does not seem to be a case, where the Neighbourhood is not assigned!

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

Now, check if we have multiple mentions of postal codes?

In [42]:
len(df['Postal Code'].unique()), df.shape

(103, (103, 3))

No, every postal code is only mentioned once!

In [43]:
df.shape

(103, 3)